{% extends "base.html" %}

{% block content %}

<script>
$(function() {
	$('.table_name_select select').change(function () {
    alert('hey')
  });
});
</script>


<div class="container col-md-6">
<br>
<div class="row">
  <div class="col-md-6">
  <h5>Today's Alerts - {{ today }} </h5>
	<br>
	</div>
	<div class="col-md-6" style="font-size: 75%; text-align: right">
  {{ model_name }}
	</div>
</div>

<table class='table table-hover table-condensed table-sm' style='font-size: 75%'>
  <tr>
    {% for col in todays_columns %}
			<th>{{ col }}</th>
		{% endfor %}
  </tr>
{% for row in todays_alerts %}
  <tr  style='text-align: center' onclick="window.open('https://finviz.com/quote.ashx?t={{ row[0] }}','_blank');">
    <td><a target="_blank" href='https://finviz.com/quote.ashx?t={{ row[0] }}'>{{row[0]}}</td>
			{% for item in row[1:] %}
    		<td>{{ item }}</td>
			{% endfor %}

  </tr>
{% endfor %}
</table>

{% endblock %}
